PORT=6767

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=admin
DB_NAME=uevent

JWT_SECRET=supersecret
JWT_ACCESS_TTL_SEC=300
JWT_REFRESH_TTL_SEC=900

FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/uevent/v1/account/login/google/callback

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
PUBLIC_BASE_URL=

LOG_LEVEL=INFO
